include LICENSE.md
include limix/data/data.csv
include limix/data/data.h5.bz2
include limix/data/example.gen
include limix/data/example.sample
include limix/data/pheno.csv
include README.md
include version.py
