asciitree>=0.3.3
cython
dask[array,bag,dataframe,delayed]>=0.17.1
distributed
glimix-core==1.2.*
h5py
joblib>=0.11
limix-core>=1.0.2
limix-legacy>=0.8.12
ncephes>=1.0.40
numpy
numpy-sugar>=1.0.47
pandas-plink>=1.2.1
pytest-console-scripts
pytest-pep8
pytest-runner>=3.0
pytest>=3.3.2
scikit-learn
scipy>=0.19
setuptools>=38.4.0
sphinx_rtd_theme>=0.2.4
sphinx>=1.6.6<Paste>
tqdm>=4.10
