--process-dependency-links
https://github.com/horta/pytest-doctestplus/tarball/0.1.4#egg=pytest-doctestplus
pip>=18.0
pytest>=3.7.0
seaborn>=0.9.0
setuptools>=40.0.0
sphinx_rtd_theme>=0.4.1
sphinx>=1.7.6
sphinxcontrib-programoutput>=0.11
ipython>=5.8.0
