--process-dependency-links
https://github.com/horta/pytest-doctestplus/raw/0.1.4/pytest-doctestplus-0.1.4.tar.gz#md5=06d1844d2e20d0bd0d104362966ed204
pip>=18.0
pytest>=3.7.0
seaborn>=0.9.0
setuptools>=40.0.0
sphinx_rtd_theme>=0.4.1
sphinx>=1.7.6
sphinxcontrib-programoutput>=0.11
ipython>=5.8.0
